---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <div class="portada-seccion">

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
                    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="seguimiento-legislativo.html">Seguimiento legislativo</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Boletín N° 12100-07</li>
                        </ol>
                    </nav>
                    <h1>Boletín <b>N° 12100-07</b><br></h1>
                </div>
            </div>
        </div>

    </div>


    <div class="proyecto-lectura seccion-proyecto container">
        <div class="row">
            <div class="col-12">
                <div class="decoracion-azul">
                    <img src="img/decoracion-azul.png" alt="decoracion azul tipo estrella" class="img-decoracion-azul">
                </div>
                <div class="decoracion-dado-1">
                    <img src="img/dado-recorte.png" alt="decoracion dado" class="img-dado-1">
                </div>
                <div class="decoracion-dado-2">
                    <img src="img/dado-recorte.png" alt="decoracion dado" class="img-dado-2">
                </div>
                <div class="titulo-3">
                    <h3>Proyecto de ley</h3>
                </div>
                <div class="temas">
                    <a href="#" class="etiqueta-tema">Transparencia</a>
                </div>
                <div class="titulo-1">
                    <h2>Modifica la ley N°20.285, sobre acceso a la información pública.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="resumen-ejecutivo-seccion container">
        <div class="row">
            <div class="col-12">
                <div class="decoracion-azul">
                    <img src="img/decoracion-amarilla.png" alt="decoracion amarilla tipo estrella" class="img-decoracion-amarilla">
                </div>
                <div class="resumen-ejecutivo">
                    <h4>Resumen ejecutivo:</h4>
                    <p>El proyecto busca aumentar los estándares de transparencia en el ejercicio de la función pública, para lo cual se amplían los sujetos obligados por la Ley de Transparencia a los órganos autónomos constitucionales, a las corporaciones y asociaciones municipales y organizaciones de la sociedad civil que reciban transferencias de fondos públicos que asciendan a una cantidad igual o superior a  1.500 UTM. Asimismo, el proyecto propone la creación de una Dirección de Transparencia en cada órgano constitucional autónomo, una Comisión para la Transparencia del Estado integrada por autoridades del Poder Ejecutivo y Legislativo y un sitio electrónico denominado Portal de Transparencia del Estado. Por último, la iniciativa modifica plazos administrativos y robustece las sanciones al incumplimiento de la Ley.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="posibilidad-de-avance container">
        <div class="row">
            <div class="decoracion-mano">
                <img src="img/mano-collage.png" alt="decoracion mano" class="img-mano-vertical">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="titulo">
                    <h2>Posibilidad de avance</h2>

                    <!--Acá el color de la clase marca el color del dato. .rojo .verde .amarillo-->

                    <p class="dato rojo">Alta</p>
                </div>

            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                <div class="descripcion">
                    <p class="descripcion">Pese a que el proyecto ha sido objeto de 101 urgencias a lo largo de su tramitación (el 08 de enero de 2025 fue su última urgencia simple), no ha tenido ningún avance desde el 7 de agosto de 2024, donde la Subsecretaria de la SEGPRES, expuso sobre boletín de indicaciones presentadas por el Ejecutivo. Desde entonces no ha vuelto a estar en tabla.</p>
                </div>
            </div>

        </div>
    </div>


    <div class="impacto container">
        <div class="row">
            <!-- Impacto en la Ciudadanía -->
            <div class="col-12 col-md-6">
                <div class="accordion" id="accordion-ciudadania">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCiudadania" aria-expanded="false" aria-controls="collapseCiudadania">
                                Impacto en la Ciudadanía: <img src="img/flecha.png" alt="flecha" class="flecha">
                            </button>
                        </h2>
                        <div id="collapseCiudadania" class="accordion-collapse show" data-bs-parent="#accordion-ciudadania">
                            <div class="accordion-body">
                                <div class="dato">
                                    <div class="circulo rojo"></div>
                                    <h4>Alta</h4>
                                </div>
                                <div class="descripcion">
                                    <p>Fortalece la transparencia y el acceso a la información pública. Esto permitirá a los ciudadanos conocer y fiscalizar de manera más efectiva el uso de los recursos públicos, promoviendo una mayor confianza en las instituciones y una participación ciudadana más informada. Se estandarizan mecanismos de acceso a la información y se agilizan los reclamos, lo que reduce barreras burocráticas y protege el derecho a saber.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Impacto en la Sociedad Civil -->
            <div class="col-12 col-md-6">
                <div class="accordion" id="accordion-osc">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOSC" aria-expanded="false" aria-controls="collapseOSC">
                                Impacto en la Sociedad Civil: <img src="img/flecha.png" alt="flecha" class="flecha">
                            </button>
                        </h2>
                        <div id="collapseOSC" class="accordion-collapse show" data-bs-parent="#accordion-osc">
                            <div class="accordion-body">
                                <div class="dato">
                                    <div class="circulo rojo"></div>
                                    <h4>Alta</h4>
                                </div>
                                <div class="descripcion">
                                    <p>Las OSC que reciban transferencias de fondos públicos estarán sujetas a las obligaciones de transparencia establecidas en la ley. Esto implicará la implementación de mecanismos de rendición de cuentas y la publicación de información relevante sobre su gestión y uso de recursos. Si bien esto puede representar un desafío administrativo para algunas organizaciones, también contribuirá a fortalecer su legitimidad y credibilidad ante la ciudadanía.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

   
   
   
    <div class="ruta-del-proyecto container">
        <div class="row">
            <div class="d-flex align-items-start">
                <div class="col-12 col-sm-3">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <h3><span>Ruta del</span> <br>proyecto de ley:</h3>
                        <button class="nav-link active" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true">Primer tramite</button>
                        <button class="nav-link" id="v-pills-2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false">Segundo tramite</button>
                        <button class="nav-link" id="v-pills-3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false">Tercer tramite</button>
                    </div>
                </div>
                <div class="col-12 col-sm-9">
                    <div class="tab-content" id="v-pills-tabContent">

                        <!-- Primer tramite -->
                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                            <div class="accordion" id="accordion-1">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-1-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-1" aria-expanded="true" aria-controls="collapse-1-1">
                                            Avance de la discusión parlamentaria <img src="img/flecha-black.png" alt="flecha" class="flecha">
                                        </button>
                                    </h2>
                                    <div id="collapse-1-1" class="accordion-collapse collapse show" aria-labelledby="heading-1-1">
                                        <div class="accordion-body">
                                            <h5 class="title">Comisión de Gobierno, Senado. Discusión General.</h5>
                                            <ul>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-1-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                                            Presentaciones de la Sociedad Civil <img src="img/flecha-black.png" alt="flecha" class="flecha">
                                        </button>
                                    </h2>
                                    <div id="collapse-1-2" class="accordion-collapse collapse" aria-labelledby="heading-1-2">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Presentación Nombre Organización</a>
                                                </li>
                                                <li>
                                                    <p>09/04/2020</p><a href="#" class="btn-ruta">Presentación Nombre Organización</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Segundo tramite -->
                        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                            <div class="accordion" id="accordion-2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-2-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2-1" aria-expanded="true" aria-controls="collapse-2-1">
                                            Avance de la discusión parlamentaria <img src="img/flecha-black.png" alt="flecha" class="flecha">
                                        </button>
                                    </h2>
                                    <div id="collapse-2-1" class="accordion-collapse collapse show" aria-labelledby="heading-2-1">
                                        <div class="accordion-body">
                                            <h5 class="title">Comisión de Gobierno, Senado. Discusión General.</h5>
                                            <ul>
                                                <li>
                                                    <p>10/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-2-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                            Presentaciones de la Sociedad Civil <img src="img/flecha-black.png" alt="flecha" class="flecha">
                                        </button>
                                    </h2>
                                    <div id="collapse-2-2" class="accordion-collapse collapse" aria-labelledby="heading-2-2">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    <p>10/04/2020</p><a href="#" class="btn-ruta">Presentación Nombre Organización</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tercer tramite -->
                        <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                            <div class="accordion" id="accordion-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-3-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3-1" aria-expanded="true" aria-controls="collapse-3-1">
                                            Avance de la discusión parlamentaria <img src="img/flecha-black.png" alt="flecha" class="flecha">
                                        </button>
                                    </h2>
                                    <div id="collapse-3-1" class="accordion-collapse collapse show" aria-labelledby="heading-3-1">
                                        <div class="accordion-body">
                                            <h5 class="title">Comisión de Gobierno, Senado. Discusión General.</h5>
                                            <ul>
                                                <li>
                                                    <p>11/04/2020</p><a href="#" class="btn-ruta">Sesión</a><a href="#" class="btn-ruta">Video</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-3-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-2">
                                            Presentaciones de la Sociedad Civil <img src="img/flecha-black.png" alt="flecha" class="flecha">
                                        </button>
                                    </h2>
                                    <div id="collapse-3-2" class="accordion-collapse collapse" aria-labelledby="heading-3-2">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    <p>11/04/2020</p><a href="#" class="btn-ruta">Presentación Nombre Organización</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

