---
import Layout from '../layouts/Layout.astro';
---

<Layout>

  <div class="portada-seccion">

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
          <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Seguimiento legislativo</li>
            </ol>
          </nav>
          <h1>Seguimiento<br><span>Legislativo</span></h1>
        </div>

        <div class="col-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5 descripcion-seccion">
          <p><b>Una ciudadanía vigilante es esencial para el resguardo de la democracia.</b> En esta página encontrarás información en tiempo real sobre el avance de proyectos de ley que impactan en la ciudadanía y la sociedad civil.</p>
        </div>
      </div>
    </div>

  </div>


  <div class="img-decoracion">
    <div class="contenedor-decoracion">
      <img src="../src/assets/mano-collage.png" alt="decoracion mano sosteniendo el tablero de filtros" class="recorte-mano-collage">
      <img src="../src/assets/dado-recorte.png" alt="decoracion dado sobre tablero de forma decorativa" class="recorte-dado-collage">
    </div>
  </div>


  <div class="container container-filtros">
    <div class="box-filtros">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


          <div class="filtros">

            <div class="accordion accordion-flush" id="accordionFlushExample">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button custom-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    <h3>Explora por la tematica del <b>proyecto de ley:</b></h3> <img src="../src/assets/flecha.png" alt="flecha" class="flecha">
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li>
                        <a href="/" class="button-transparentes-filtros active">Todos</a>
                      </li>
                      <li>
                        <a href="/transparencia" class="button-transparentes-filtros">Transparencia</a>
                      </li>
                      <li>
                        <a href="/participacion" class="button-transparentes-filtros">Participación</a>
                      </li>
                      <li>
                        <a href="/probidad" class="button-transparentes-filtros">Probidad</a>
                      </li>
                      <li>
                        <a href="/justicia" class="button-transparentes-filtros">Justicia</a>
                      </li>
                      <li>
                        <a href="/medioambiente" class="button-transparentes-filtros">Medio ambiente</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</Layout>
