
    <footer class="footer">
        <div class="footer-decoracion">
            <img src="../src/assets/collage-1-footer.png" alt="Megáfono izquierdo" class="img-1">
            <img src="../src/assets/slogan-footer.svg" alt="Slogan Democracia en juego" class="slogan">
            <img src="../src/assets/collage-2-footer.png" alt="Megáfono derecho" class="img-2">
        </div>

        <div class="footer-contenido">
            <div class="informacion">
                <p>Un proyecto de:</p>
                <img src="../src/assets/logo-fci.png" alt="Logo Ciudadanía Inteligente">
                <img src="../src/assets/logo-ct.png" alt="Logo Chile Transparente">
            </div>
        </div>

        <div class="footer-bottom">
            <p>2025 - Todos los derechos reservados</p>
        </div>
    </footer>
