---
import { Image } from 'astro:assets';
---
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
          <a class="navbar-brand" href="#"><img src="../assets/logo-transparentes-black.svg" alt="logotipo proyecto transparentes" class="img-nav-logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Inicio</a>
                        </li>
                        <!-- <li class="nav-item"> -->
                        <!--     <a class="nav-link" href="#">El proyecto</a> -->
                        <!-- </li> -->
                        <li class="nav-item">
                <a class="nav-link active" href="/seguimiento">Seguimiento legislativo</a>
                        </li>
                        <!-- <li class="nav-item"> -->
                        <!--     <a class="nav-link button-transparentes-primary" href="#">Participar</a> -->
                        <!-- </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
